<h1>Black Jack the Gathering!</h1>

<div class="controls">
  <button class="hit">Hit</button>
  <button class="stay">Stay</button>
</div>

<div class="player-cards">Rank: <%= @player1.hand[0].rank %> Suit: <%= @player1.hand[0].suit %></div>
<div class="player-cards">Rank: <%= @player1.hand[1].rank %> Suit: <%= @player1.hand[1].suit %></div>


<p class="game-status"><%= @output %></p>


<script>
  $('.hit').on('click', function () {
    console.log(this);
    <% #{hit} %>
  });
</script>
